<h3>Your stories</h3>
<ul class="list-group list-group-flush">
  <% @stories.each do |story| %>
    <li class="list-group-item">
      <%= link_to story.title, edit_story_path(story.code)%>
    </li>
  <% end %>
  <li class="list-group-item"><strong><%= link_to("write new story", new_story_path) %></strong></li>
</ul>
