<p><strong>Welcome to fiction.party!</strong> You can read stories here... with a <i>twist</i>. At the end of every chapter,
  dive deeper into the world by chatting directly with the story! Find out more about a mysterious character, past
  incidents or just learning more about the everyday life of the townspeople!</p>

<p>...or create your own world with deep and rich lore! The world is your oyster!</p>
<br>
<h3>recently updated</h3>
<ul class="list-group list-group-flush">
  <% @stories.each do |story| %>
    <li class="list-group-item">
      <%= link_to story.title, story_path(story.code)%> <small class="text-muted">by <%= story.author.username %></small>
    </li>
  <% end %>
</ul>
